name: DevSecOps CI

on:
  push:
  pull_request:

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: SAST - Semgrep
      uses: returntocorp/semgrep-action@v1
      with:
        config: p/default

    - name: Dependency Scan
      run: |
        pip install pip-audit
        pip-audit
